@import url(https://fonts.googleapis.com/css?family=Audiowide|Share+Tech+Mono);
html, body
{
	overflow: hidden;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	/* background circuit image from http://www.heropatterns.com/ */
	background-image: url("data:image/svg+xml,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h44.1zm160 48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H82v-2h122.1zm57.8-46c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm0 16c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm6.2-114c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2zm-256-48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h12.1zm185.8 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2zM258 12.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V0h2v12.1zm-64 208c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-54.2c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9v54.2zm48-198.2c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V82h64v-2h-62V21.9zm16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V66h48v-2h-46V37.9zm-128 96c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V210h16v10.1c-2.282.463-4 2.48-4 4.9 0 2.76 2.24 5 5 5s5-2.24 5-5c0-2.42-1.718-4.437-4-4.9V208h-16v-74.1zm-5.9-21.9c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H114v48H85.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H112v-48h12.1zm-6.2 130c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H176v-74.1c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V242h-60.1zm-16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H114v48h10.1c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H112v-48h-10.1zM66 284.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V274H50v30h-2v-32h18v12.1zM236.1 176c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H274v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V146h-10.1zm-64 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H208v-80h16v-14h-42.1c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H226v18h-16v80h-12.1zm86.2-210c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H272V0h2v32h10.1zM98 101.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V144H53.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H98v-44.1zM53.9 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80V0h2v34H53.9zm60.1 3.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V64H80v64H69.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H82V66h32V37.9zM101.9 82c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H128V37.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-28.1zm16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H146v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V18h-26.1zm102.2 270c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H98v14h-2v-16h124.1zM242 149.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64V2H48V0h18v18H53.9zm112 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H192V0h50v2h-48v48h-28.1zm-48-48c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5 0-.342.034-.677.1-1h2.07c-.11.313-.17.65-.17 1 0 1.657 1.343 3 3 3s3-1.343 3-3c0-.35-.06-.687-.17-1H178v34h-18V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V32h14V2h-58.1zm0 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H137l32-32h39V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V66h-40.172l-32 32H117.9zm28.1 90.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-76.513L175.586 80H224V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-49.586L146 112.414V188.1zm16 32c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-99.513L184.586 96H300.1c.398-1.96 1.94-3.502 3.9-3.9v2.07c-1.165.413-2 1.524-2 2.83s.835 2.417 2 2.83v2.07c-1.96-.398-3.502-1.94-3.9-3.9H185.414L162 121.414V220.1zm-144-64c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v42.686l-48 48V210h28.1c.463 2.282 2.48 4 4.9 4 2.76 0 5-2.24 5-5s-2.24-5-5-5c-2.42 0-4.437 1.718-4.9 4H2v-62.586l48-48V53.9zm-16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v18.686l-32 32v2.828l34-34V69.9zM12.1 32c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H288V136.587l16-16v2.827l-14 14V210h-28.1zm-208 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64v-22.586L40.586 194H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.513L66 216.586V242H53.9zm150.2 14c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H96v-56.598L56.598 162H37.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.502L98 200.598V256h106.1zm-150.2 2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80v-46.586L48.586 178H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h27.513L82 208.586V258H53.9zM97 100c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-48 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 96c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-144c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM49 36c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM33 68c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 240c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm80-176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm112 176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 180c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 84c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0V302.17c.313-.11.65-.17 1-.17 1.306 0 2.417.835 2.83 2H5.9c-.398-1.96-1.94-3.502-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1c.323-.066.658-.1 1-.1 2.76 0 5 2.24 5 5s-2.24 5-5 5c-.342 0-.677-.034-1-.1v-2.07c.313.11.65.17 1 .17 1.657 0 3-1.343 3-3s-1.343-3-3-3c-.35 0-.687.06-1 .17V92.1zM80 272h2v32h-2v-32zm37.9 32c-.463-2.282-2.48-4-4.9-4-2.42 0-4.437 1.718-4.9 4h2.07c.413-1.165 1.524-2 2.83-2s2.417.835 2.83 2h2.07zM5.9 0c.066.323.1.658.1 1 0 2.76-2.24 5-5 5-.342 0-.677-.034-1-.1V3.83C.313 3.94.65 4 1 4c1.657 0 3-1.343 3-3 0-.35-.06-.687-.17-1H5.9zm294.2 0c-.066.323-.1.658-.1 1 0 2.42 1.718 4.437 4 4.9V3.83c-1.165-.413-2-1.524-2-2.83 0-.35.06-.687.17-1h-2.07zm3.9 300.1c-1.96.398-3.502 1.94-3.9 3.9h2.07c.302-.852.978-1.528 1.83-1.83v-2.07z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body
{
	margin: 50px;
}
.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@font-face {
	font-family: PigpenCipher;
	src: url("../fonts/PigpenCipher.otf") format("opentype");
}

/* for dev only */
.admin-event-bar
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 72%;
	height: 40px;
	margin: 0 auto;
	background-color: #fff;
	color: #000;
	z-index: 100;
	padding: 5px;
}

/********************************* COLORS ************************************/

/* Colors
http://www.w3schools.com/colors/colors_picker.asp
https://coolors.co/004d80-47a8bd-f5e663-ffad69-9c3848

Original Palette - Do not use directly:
Blue:	 25%	#004D80	rgba(0, 77, 128, 1)
Teal:	 51%	#47A8BD	rgba(71, 168, 189, 1)
Yellow:	 67%	#F5E663	rgba(245, 230, 99, 1)
Orange:	 71%	#FFAD69	rgba(255, 173, 105, 1)
Red:	 42%	#9C3848	rgba(156, 56, 72, 1)

Blue
#004D80
25%:	#004d80;
30%:	#005c99;
50%:	#0099ff;
65%:	#4db8ff;
80%:	#99d6ff;
90%:	#ccebff
95%:	#e6f5ff;

Red
#9C3848
25%:	#5c232c;
30%:	#702935;
50%:	#bb4458;
65%:	#ce7e8a;
80%:	#e3b5bb;
90%:	#f1dadd;
95%:	#f8edee;

Teal
#47A8BD
25%:	#23535c;
30%:	#296370;
50%:	#44a5bb;
65%:	#7dc0cf;
80%:	#b5dbe3;
90%:	#daeef1;

Yellow
#F5E663
25%:	#786d08;
30%:	#908209;
50%:	#f0d90f;
65%:	#f4e557;
80%:	#f9f09f;
90%:	#fcf7cf;

Orange
#FFAD69
25%:	#803900;
30%:	#994500;
50%:	#ff7300;
65%:	#ff9d4d;
80%:	#ffc799;
90%:	#ffe3cc;

*/

/******************************* ANIMATIONS **********************************/


/********************************** MAIN *************************************/

.reboot-container .wait-game
{
	font-family: Audiowide, monospace;
	font-size: 50px;
	text-align: center;
	margin: 100px 0;
}

.reboot-container .reboot-button
{
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	background: #004d80;
	border: 3px solid #0099ff;
	box-shadow: 0 0px 10px 0 #ccebff;
	border-radius: 6px;
	margin: 100px auto;
	padding: 40px;
	color: #fff;
	display: block;
	outline: none;
	-webkit-animation: pulse_reboot 1s infinite alternate;
	-moz-animation: pulse_reboot 1s infinite alternate;
	-ms-animation: pulse_reboot 1s infinite alternate;
	-o-animation: pulse_reboot 1s infinite alternate;
	animation: pulse_reboot 1s infinite alternate;
}
@-webkit-keyframes pulse_reboot {
 from { box-shadow: 0 0 10px 0 #ccebff; }
 to { box-shadow: 0 0 40px 0 #ccebff; }
}
@-moz-keyframes pulse_reboot {
 from { box-shadow: 0 0 10px 0 #ccebff; }
 to { box-shadow: 0 0 40px 0 #ccebff; }
}
@-ms-keyframes pulse_reboot {
 from { box-shadow: 0 0 10px 0 #ccebff; }
 to { box-shadow: 0 0 40px 0 #ccebff; }
}
@-o-keyframes pulse_reboot {
 from { box-shadow: 0 0 10px 0 #ccebff; }
 to { box-shadow: 0 0 40px 0 #ccebff; }
}
@keyframes pulse_reboot {
 from { box-shadow: 0 0 10px 0 #ccebff; }
 to { box-shadow: 0 0 40px 0 #ccebff; }
}

.reboot-container .reboot-button span
{
	font-family: Audiowide, monospace;
	white-space: nowrap;
	display: block;
	font-size: 65px;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
}
.reboot-loading
{
	text-align: center;
	color: #4db8ff;
	text-shadow: 0 0 10px #99d6ff;
	font-size: 160px;
	margin: 60px auto;
}

.main-container
{
	display: none;
}

/********************************* FOOTER ************************************/

.footer
{
	position: absolute;
	bottom: 30px;
	left: 50px;
	right: 50px;
	width: auto;
	height: 80px;
	z-index: 10;
}

.navbar-header img
{
	width: 200px;
	margin-top: 15px;
	margin-right: 15px;
}

.footer .nav
{
	font-family: Audiowide, monospace;
	font-size: 24px;
	margin-top: 10px;
}
@media (max-width:1220px)
{
	.footer .nav { font-size: 18px;	}
}
@media (max-width:1024px)
{
	.footer .nav { font-size: 14px;	}
}

.footer .nav li a,
.footer .nav li.active a,
.footer .nav li.active a:hover,
.footer .nav li.active a:active,
.footer .nav li.active a:focus
{
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	background: #004d80;
	border: 3px solid #0099ff;
	box-shadow: 0 0px 8px 0 #0099ff;
	border-radius: 6px;
	margin-right: 8px;
	margin-left: 8px;
	color: #fff;
}
.footer .nav li a span
{
	white-space: nowrap;
	display: block;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
}
.footer .nav li.active a
{
	background: #99d6ff;
	color: #002e4d;
	box-shadow: 0 0px 8px 0 #99d6ff;
}
.footer .nav li a:hover,
.footer .nav li a:active,
.footer .nav li.active a:hover,
.footer .nav li.active a:active,
.footer .nav li.active a:focus
{
	background: #ccebff;
	color: #002e4d;
	box-shadow: 0 0px 8px 0 #ccebff;
}

/********************************* SIDEBAR ***********************************/

.sidebar
{
	position: absolute;
	top: 30px;
	left: 50px;
	width: 230px;
	height: calc(100% - 78px - 60px);
	z-index: 20;
}
.sidebar .counter-container
{
	font-family: 'Share Tech Mono', monospace;
	font-size: 46px;
	color: #e6f5ff;
	height: 60px;
	text-align: center;
}
.sidebar .counter-container .counter
{
	color: #e6f5ff;
	text-shadow: 0 0 5px #0099ff;
}
.sidebar .counter-container .timeup
{
	color: #bb4458;
	text-shadow: 0 0 5px #ce7e8a;
	-webkit-animation: color_text_timer_blink 0.8s infinite alternate;
	-moz-animation: color_text_timer_blink 0.8s infinite alternate;
	-ms-animation: color_text_timer_blink 0.8s infinite alternate;
	-o-animation: color_text_timer_blink 0.8s infinite alternate;
	animation: color_text_timer_blink 0.8s infinite alternate;
}
@-webkit-keyframes color_text_timer_blink {
 from { color: #bb4458; }
 to { color: #e3b5bb; }
}
@-moz-keyframes color_text_timer_blink {
 from { color: #9C3848; }
 to { color: #e3b5bb; }
}
@-ms-keyframes color_text_timer_blink {
 from { color: #9C3848; }
 to { color: #e3b5bb; }
}
@-o-keyframes color_text_timer_blink {
 from { color: #9C3848; }
 to { color: #e3b5bb; }
}
@keyframes color_text_timer_blink {
 from { color: #bb4458; }
 to { color: #e3b5bb; }
}

.sidebar .wrapper
{
	height: calc(100% - 60px - 10px);
	width: 210px;
	border-radius: 6px;
	margin: 4px auto;
	border: 1px #666 solid;
	box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.6);
	overflow: hidden;
	background-color: #222;
}

.sidebar .notifications
{
	height: 100px;
	font-size: 16px;
	margin: 10px;
	overflow: hidden;
}
.sidebar .notifications .note
{
	height: 25px;
	line-height: 25px;
}
.sidebar .notifications .note.success i
{
	color: #eee;
}

.sidebar .notifications .note.error
{
	-webkit-animation: color_text_blink 1s infinite alternate;
	-moz-animation: color_text_blink 1s infinite alternate;
	-ms-animation: color_text_blink 1s infinite alternate;
	-o-animation: color_text_blink 1s infinite alternate;
	animation: color_text_blink 1s infinite alternate;
}
@-webkit-keyframes color_text_blink {
 from { color: #fff; }
 to { color: #666; }
}
@-moz-keyframes color_text_blink {
 from { color: #fff; }
 to { color: #666; }
}
@-ms-keyframes color_text_blink {
 from { color: #fff; }
 to { color: #666; }
}
@-o-keyframes color_text_blink {
 from { color: #fff; }
 to { color: #666; }
}
@keyframes color_text_blink {
 from { color: #fff; }
 to { color: #666; }
}

.sidebar .notifications .note.error i
{
	color: #bb4458;
}
.sidebar .notifications .note.error i
{
	-webkit-animation: color_text_error_blink 1s infinite alternate;
	-moz-animation: color_text_error_blink 1s infinite alternate;
	-ms-animation: color_text_error_blink 1s infinite alternate;
	-o-animation: color_text_error_blink 1s infinite alternate;
	animation: color_text_error_blink 1s infinite alternate;
}
@-webkit-keyframes color_text_error_blink {
 from { color: #bb4458; }
 to { color: #4a1c23; }
}
@-moz-keyframes color_text_error_blink {
 from { color: #9C3848; }
 to { color: #4a1c23; }
}
@-ms-keyframes color_text_error_blink {
 from { color: #9C3848; }
 to { color: #4a1c23; }
}
@-o-keyframes color_text_error_blink {
 from { color: #9C3848; }
 to { color: #4a1c23; }
}
@keyframes color_text_error_blink {
 from { color: #bb4458; }
 to { color: #4a1c23; }
}

.sidebar .stats
{
	height: calc(100% - 120px);
	width: 100%;
	padding: 10px 10px 0 0;
}
.sidebar .stats #statsChart
{
}

/********************************* TOPBAR ***********************************/

.topbar
{
	position: absolute;
	top: 30px;
	right: 50px;
	height: 60px;
	width: calc(100% - 330px);

}
.topbar h1
{
	font-family: Audiowide, monospace;
	margin-top: 10px;
	color: #fff;
	text-align: right;
	text-shadow: 0 0 5px #0099ff;
}

/********************************* CONTENT ***********************************/

/* tv height max: 870px */
/* tv width max: 1580px */
.content
{
	position: absolute;
	top: 90px;
	right: 50px;
	margin: 4px;
	height: calc(100vh - 140px - 8px - 60px);
	width: calc(100vw - 330px - 8px);
}

.ipad .content
{
    position:absolute;
    top:40px;
    left:40px;
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
}

.content-box
{
	height: 100%;

	overflow: hidden;
	overflow-y: auto;

	border: 1px solid #0099ff;
	box-shadow: 0 0px 8px 0 #0099ff;
	border-radius: 6px;
	background-color: #222;
}

/* ************************************************* */

.section .title
{
	text-align: center;
}
.section .icon.success
{
	color: #4db8ff;
	text-shadow: 0 0 10px #99d6ff;
}
.section .title .icon.success
{
	margin: 40px 0 20px 0;
	font-size: 26px;
}

.alert
{
	border-radius: 6px;
	margin: 15px 0;
	border: 1px #666 solid;
	box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.6);
	color: #222;
}
.alert.alert-danger
{
	background-color: #5c232c;
	text-align: right;
	color: #f8edee;
	border: 1px #bb4458 solid;
	box-shadow: 0 0 10px 0 #bb4458;
	-webkit-animation: pulse_shadow_alert_danger 1s infinite alternate;
	-moz-animation: pulse_shadow_alert_danger 1s infinite alternate;
	-ms-animation: pulse_shadow_alert_danger 1s infinite alternate;
	-o-animation: pulse_shadow_alert_danger 1s infinite alternate;
	animation: pulse_shadow_alert_danger 1s infinite alternate;
}
@-webkit-keyframes pulse_shadow_alert_danger {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 30px 0 #bb4458; }
}
@-moz-keyframes pulse_shadow_alert_danger {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 30px 0 #bb4458; }
}
@-ms-keyframes pulse_shadow_alert_danger {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 30px 0 #bb4458; }
}
@-o-keyframes pulse_shadow_alert_danger {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 30px 0 #bb4458; }
}
@keyframes pulse_shadow_alert_danger {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 30px 0 #bb4458; }
}
.alert.alert-danger i
{
	color: #bb4458;
}
/* *************************** MODAL ********************************** */

.modal-backdrop.in
{
	opacity: 0.8;
}
.modal-dialog
{
	width: calc(100vw - 120px);
	margin: 60px;
}

.modal-content
{
	border: 2px #0099ff solid;
	background-color: #000;
	background-image: url("data:image/svg+xml,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h44.1zm160 48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H82v-2h122.1zm57.8-46c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm0 16c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm6.2-114c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2zm-256-48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h12.1zm185.8 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2zM258 12.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V0h2v12.1zm-64 208c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-54.2c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9v54.2zm48-198.2c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V82h64v-2h-62V21.9zm16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V66h48v-2h-46V37.9zm-128 96c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V210h16v10.1c-2.282.463-4 2.48-4 4.9 0 2.76 2.24 5 5 5s5-2.24 5-5c0-2.42-1.718-4.437-4-4.9V208h-16v-74.1zm-5.9-21.9c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H114v48H85.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H112v-48h12.1zm-6.2 130c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H176v-74.1c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V242h-60.1zm-16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H114v48h10.1c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H112v-48h-10.1zM66 284.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V274H50v30h-2v-32h18v12.1zM236.1 176c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H274v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V146h-10.1zm-64 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H208v-80h16v-14h-42.1c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H226v18h-16v80h-12.1zm86.2-210c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H272V0h2v32h10.1zM98 101.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V144H53.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H98v-44.1zM53.9 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80V0h2v34H53.9zm60.1 3.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V64H80v64H69.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H82V66h32V37.9zM101.9 82c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H128V37.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-28.1zm16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H146v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V18h-26.1zm102.2 270c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H98v14h-2v-16h124.1zM242 149.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64V2H48V0h18v18H53.9zm112 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H192V0h50v2h-48v48h-28.1zm-48-48c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5 0-.342.034-.677.1-1h2.07c-.11.313-.17.65-.17 1 0 1.657 1.343 3 3 3s3-1.343 3-3c0-.35-.06-.687-.17-1H178v34h-18V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V32h14V2h-58.1zm0 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H137l32-32h39V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V66h-40.172l-32 32H117.9zm28.1 90.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-76.513L175.586 80H224V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-49.586L146 112.414V188.1zm16 32c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-99.513L184.586 96H300.1c.398-1.96 1.94-3.502 3.9-3.9v2.07c-1.165.413-2 1.524-2 2.83s.835 2.417 2 2.83v2.07c-1.96-.398-3.502-1.94-3.9-3.9H185.414L162 121.414V220.1zm-144-64c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v42.686l-48 48V210h28.1c.463 2.282 2.48 4 4.9 4 2.76 0 5-2.24 5-5s-2.24-5-5-5c-2.42 0-4.437 1.718-4.9 4H2v-62.586l48-48V53.9zm-16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v18.686l-32 32v2.828l34-34V69.9zM12.1 32c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H288V136.587l16-16v2.827l-14 14V210h-28.1zm-208 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64v-22.586L40.586 194H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.513L66 216.586V242H53.9zm150.2 14c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H96v-56.598L56.598 162H37.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.502L98 200.598V256h106.1zm-150.2 2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80v-46.586L48.586 178H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h27.513L82 208.586V258H53.9zM97 100c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-48 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 96c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-144c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM49 36c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM33 68c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 240c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm80-176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm112 176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 180c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 84c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0V302.17c.313-.11.65-.17 1-.17 1.306 0 2.417.835 2.83 2H5.9c-.398-1.96-1.94-3.502-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1c.323-.066.658-.1 1-.1 2.76 0 5 2.24 5 5s-2.24 5-5 5c-.342 0-.677-.034-1-.1v-2.07c.313.11.65.17 1 .17 1.657 0 3-1.343 3-3s-1.343-3-3-3c-.35 0-.687.06-1 .17V92.1zM80 272h2v32h-2v-32zm37.9 32c-.463-2.282-2.48-4-4.9-4-2.42 0-4.437 1.718-4.9 4h2.07c.413-1.165 1.524-2 2.83-2s2.417.835 2.83 2h2.07zM5.9 0c.066.323.1.658.1 1 0 2.76-2.24 5-5 5-.342 0-.677-.034-1-.1V3.83C.313 3.94.65 4 1 4c1.657 0 3-1.343 3-3 0-.35-.06-.687-.17-1H5.9zm294.2 0c-.066.323-.1.658-.1 1 0 2.42 1.718 4.437 4 4.9V3.83c-1.165-.413-2-1.524-2-2.83 0-.35.06-.687.17-1h-2.07zm3.9 300.1c-1.96.398-3.502 1.94-3.9 3.9h2.07c.302-.852.978-1.528 1.83-1.83v-2.07z' fill='%230099ff' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");

}

.modal-body
{
	height: calc(100vh - 120px);
	overflow: auto;
}
.modal-header
{
	border: none;
	padding: 0px 0px 10px 0px;
}
.modal-header h4
{
	color: #e6f5ff;
	text-shadow: 0 0 10px #fff;
	text-align: center;
	font-family: Audiowide, monospace;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.7);
}

/* ********************** SECTION GENERIC ***************************** */

.selection-result .selection-result-title,
.selection-result .selection-result-values div
{
	font-size: 24px;
	color: #0099ff;
	font-family: Audiowide, monospace;
	line-height: 60px;
	height: 60px;
	margin-bottom: 10px;
}

.selection-result .selection-result-values div div
{
	height: 60px;
	text-align: center;
	vertical-align: middle;
	float: left;

}
.selection-result .selection-result-values div div.selection-result-box
{
	font-family: 'Share Tech Mono', monospace;
	background-color: #e6f5ff;
	border: 1px #0099ff solid;
	box-shadow: 0 0px 8px 0 #0099ff;
	line-height: 50px;
	font-size: 50px;
	padding: 4px 8px;
	width: 70px;
	margin: 0 5px;
}
.selection-result .selection-result-values div div.active
{
	background-color: #ffe3cc;
	border: 1px #ff7300 solid;
	box-shadow: 0 0px 8px 0 #ff7300;
	color: #ff7300;
}

.selection-result .selection-result-status p
{
	font-family: Audiowide, monospace;
	font-size: 24px;
	background-color: #000;
	text-align: center;
	color: #0099ff;
	border: 1px #0099ff solid;
	box-shadow: 0 0px 8px 0 #0099ff;
	-webkit-animation: pulse_opacity 1s ease-in-out infinite alternate;
	-moz-animation: pulse_opacity 1s ease-in-out infinite alternate;
	-ms-animation: pulse_opacity 1s ease-in-out infinite alternate;
	-o-animation: pulse_opacity 1s ease-in-out infinite alternate;
	animation: pulse_opacity 1s ease-in-out infinite alternate;
}
.selection-result .selection-result-status p.error
{
	color: #bb4458;
	border: 1px #bb4458 solid;
	box-shadow: 0 0px 8px 0 #bb4458;
}
.selection-result .selection-result-status p.success
{
	color: #44a5bb;
	border: 1px #44a5bb solid;
	box-shadow: 0 0px 8px 0 #44a5bb;
}
@-webkit-keyframes pulse_opacity {
 from { opacity: 1; }
 to { opacity: 0; }
}
@-moz-keyframes pulse_opacity {
 from { opacity: 1; }
 to { opacity: 0; }
}
@-ms-keyframes pulse_opacity {
 from { opacity: 1; }
 to { opacity: 0; }
}
@-o-keyframes pulse_opacity {
 from { opacity: 1; }
 to { opacity: 0; }
}
@keyframes pulse_opacity {
 from { opacity: 1; }
 to { opacity: 0; }
}

/* ********************* SECTION SPECIFICS **************************** */

/* ************************ LIFE SUPPORT ****************************** */

.section .section-lifesupport-failure canvas
{
}

/* *********************** COMMUNICATIONS ***************************** */

.section .section-communications-unreachable .selection-result .selection-result-title
{
	text-align: center;
	line-height: 50px;
}
.section .section-communications-unreachable .selection-result .selection-result-values div div.selection-result-box
{
	float: none;
	margin: 0 auto;
	line-height: 56px;
	font-size: 40px;
}

/* *************************** SHIELDS ******************************** */

.section-shields-manual .diagram
{
}
.section-shields-manual .diagram .control-panel
{
	border: 3px #666 solid;
	box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.6);
	background-color: #333;
	border-radius: 4px;
    margin: 30px;
    padding: 15px 5px;
	height: 215px;
	width: 180px;
	text-align: center;
}
.section-shields-manual .diagram .control-panel i
{
	font-size: 135px;
	line-height: 180px;
	color: #ff9d4d;
	text-shadow: 0 0 10px #ff9d4d;
	-webkit-animation: pulse_hand 1s infinite alternate;
	-moz-animation: pulse_hand 1s infinite alternate;
	-ms-animation: pulse_hand 1s infinite alternate;
	-o-animation: pulse_hand 1s infinite alternate;
	animation: pulse_hand 1s infinite alternate;
}
@-webkit-keyframes pulse_hand {
 from { text-shadow: 0 0 10px #ff9d4d; }
 to { text-shadow: 0 0 10px #ffe3cc; }
}
@-moz-keyframes pulse_hand {
 from { text-shadow: 0 0 10px #ff9d4d; }
 to { text-shadow: 0 0 10px #ffe3cc; }
}
@-ms-keyframes pulse_hand {
 from { text-shadow: 0 0 10px #ff9d4d; }
 to { text-shadow: 0 0 10px #ffe3cc; }
}
@-o-keyframes pulse_hand {
 from { text-shadow: 0 0 10px #ff9d4d; }
 to { text-shadow: 0 0 10px #ffe3cc; }
}
@keyframes pulse_hand {
 from { text-shadow: 0 0 10px #ff9d4d; }
 to { text-shadow: 0 0 10px #ffe3cc; }
}

.section-shields-manual .diagram .control-panel i.pressed
{
	color: #44a5bb;
	-webkit-animation: pulse_hand_pressed 1s infinite alternate;
	-moz-animation: pulse_hand_pressed 1s infinite alternate;
	-ms-animation: pulse_hand_pressed 1s infinite alternate;
	-o-animation: pulse_hand_pressed 1s infinite alternate;
	animation: pulse_hand_pressed 1s infinite alternate;
}
@-webkit-keyframes pulse_hand_pressed {
 from { text-shadow: 0 0 10px #44a5bb; }
 to { text-shadow: 0 0 10px #daeef1; }
}
@-moz-keyframes pulse_hand_pressed {
 from { text-shadow: 0 0 10px #44a5bb; }
 to { text-shadow: 0 0 10px #daeef1; }
}
@-ms-keyframes pulse_hand_pressed {
 from { text-shadow: 0 0 10px #44a5bb; }
 to { text-shadow: 0 0 10px #daeef1; }
}
@-o-keyframes pulse_hand_pressed {
 from { text-shadow: 0 0 10px #44a5bb; }
 to { text-shadow: 0 0 10px #daeef1; }
}
@keyframes pulse_hand_pressed {
 from { text-shadow: 0 0 10px #44a5bb; }
 to { text-shadow: 0 0 10px #daeef1; }
}

.section-shields-manual h2,
.radiation-composition-title
{
	font-family: Audiowide, monospace;
	color: #ff9d4d;
	margin-top: 30px;
}
.section-shields-manual div.radiation-percent
{
	font-family: 'Share Tech Mono', monospace;
	color: #ff9d4d;
	font-size: 40px;
	line-height: 36px;
}
.section-shields-manual div.radiation-level-container
{
	background-color: #803900;
	width: 100%;
}
.section-shields-manual div.radiation-level
{
	background-color: #ff9d4d;
	width: 6%;
	height: 40px;
}

.radiation-composition-container
{
	width: 280px;
	margin: 0 auto;
}
.radiation-composition-element
{
    float:left;
    margin-right: 10px;
    width:60px;
    height:60px;
    border:1px solid #ff9d4d;
    box-shadow: inset 0 0 20px #ffe3cc;
    background: rgba(255,227,204, 0.5);
	font-family: 'Share Tech Mono', monospace;
	font-size: 40px;
    line-height: 60px;
    text-align: center;
    visibility: hidden;
}
.section-shields-override .radiation-composition-element
{
    visibility: visible;
    margin-bottom: 20px;
}

.section-shields-override .radiation-composition-title
{
	text-align: center;
}

/* Shield iPad Controls */
.section-ipadshields-enabled .title h1,
.section-ipadshields-override .title h1
{
    font-size: 80px;
}

.section-ipadshields-enabled .title i,
.section-ipadshields-override .title i
{
    font-size: 535px;
    margin-top:80px;
    margin-bottom: 100px;
}

.section-ipadshields-enabled .title p,
.section-ipadshields-override .title p
{
    font-size: 30px;
}

.section-ipadshields-manual .diagram
{
    position:absolute;
    top:120px;
    left:40px;
}

.section-ipadshields-manual .diagram .control-panel i
{
    font-size: 535px;
    line-height: 535px;
    text-align: center;
    color: #ff9d4d;
    text-shadow: 0 0 10px #ff9d4d;
    -webkit-animation: pulse_hand 1s infinite alternate;
    -moz-animation: pulse_hand 1s infinite alternate;
    -ms-animation: pulse_hand 1s infinite alternate;
    -o-animation: pulse_hand 1s infinite alternate;
    animation: pulse_hand 1s infinite alternate;
}

.section-ipadshields-manual .diagram .control-panel i.pressed
{
	color: #44a5bb;
    text-shadow: 0 0 10px #44a5bb;
    -webkit-animation: pulse_hand_pressed 1s infinite alternate;
    -moz-animation: pulse_hand_pressed 1s infinite alternate;
    -ms-animation: pulse_hand_pressed 1s infinite alternate;
    -o-animation: pulse_hand_pressed 1s infinite alternate;
    animation: pulse_hand_pressed 1s infinite alternate;
}


/* ************************* SCHEMATICS ******************************* */

.section .section-schematics-success canvas
{
	width: 700px;
	height: 400px;
	background-color: #fff;
	margin-top: 20px;
}

/* *************************** AI GOOD ******************************** */

.ai-visual
{
	text-align: center;
}
.ai-visual i
{
	font-size: 160px;
}

.ai-text
{
	font-size: 24px;
	font-family: Audiowide, monospace;
}
/* *************************** AI GOOD ******************************** */

.ai-good-visual
{
	color: #4db8ff;
}
.ai-good-visual i
{
}

.ai-good-text
{
	color: #e6f5ff;
}

/* *************************** AI BAD ********************************* */

.ai-bad-visual
{
	color: #ff9d4d;
}
.ai-bad-visual i
{
}

.ai-bad-text
{
	color: #ff9d4d;
}

.modal-aibad-pigpen .selection-result .selection-text
{
	font-family: PigpenCipher;
    font-size: 96px;
    line-height: 86px;
	text-align: center;
	color: #ccebff;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-aibad-pigpen .selection-result .selection-result-values
{
	width: 560px;
	margin: 0 auto;
}
/* *************************** SELF DESTRUCT ********************************* */

.modal-selfdestruct-countdown .countdown-text
{
	font-family: Audiowide, monospace;
	text-align: center;
	font-size: 50px;
	color: #5c232c;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 40px 0;
}
.modal-selfdestruct-countdown .countdown-clock
{
	font-family: 'Share Tech Mono', monospace;
	text-align: center;
	font-size: 90px;
	color: #f8edee;
	background-color: #5c232c;
	border: 1px #bb4458 solid;
	-webkit-animation: pulse_countdown 1s infinite alternate;
	-moz-animation: pulse_countdown 1s infinite alternate;
	-ms-animation: pulse_countdown 1s infinite alternate;
	-o-animation: pulse_countdown 1s infinite alternate;
	animation: pulse_countdown 1s infinite alternate;
}
@-webkit-keyframes pulse_countdown {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 40px 0 #bb4458; }
}
@-moz-keyframes pulse_countdown {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 40px 0 #bb4458; }
}
@-ms-keyframes pulse_countdown {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 40px 0 #bb4458; }
}
@-o-keyframes pulse_countdown {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 40px 0 #bb4458; }
}
@keyframes pulse_countdown {
 from { box-shadow: 0 0 10px 0 #bb4458; }
 to { box-shadow: 0 0 40px 0 #bb4458; }
}
